.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class
*.so

amostra.csv/
amostra/
*.csv
*.bz2
*.txt

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json